body {
    margin: 0;
    padding: 0;
    background-color: #101010;
}

.headerText {
    color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #DAFF73;
}

.bluryBackGround {
    border-radius: 32px;
    background: rgba(34, 34, 34, 0.24);
    backdrop-filter: blur(8px);
    left: 50%;
    transform: translateX(-50%);
}

.bluryBackGroundBottom {
    border-radius: 48px;
    background: rgba(34, 34, 34, 0.24);
    backdrop-filter: blur(8px);
    left: 50%;
    transform: translateX(-50%);
}